<h1>{{ poll.title }}</h1>
<p>{{ poll.pub_date }}</p>
<p>Created by {{ poll.user }}</p>
<p>Poll id: {{ poll.id }}</p>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<ul>
    {% for question in poll.question_set.all %}
        <li>
            <a href="/polls/{{ poll.id }}/questions/{{ question.id }}">
                {{ question.question_text }}
            </a>
            <form method="post" onsubmit="return validate(this)">
            {% csrf_token %}
                {% for answer in answer_list.pop %}
                    <input type="radio" name="choice" id="q{{ forloop.parentloop.counter }}a{{ forloop.counter }}"
                           value="{{ answer.id }}" />
                    <label for="q{{ forloop.parentloop.counter }}a{{ forloop.counter }}">
                        {{ answer.answer_text }}</label><br />
                {% endfor %}
            </form>
        </li>
    {% endfor %}
    <button onclick="submitAll();">SUBMIT ALL</button>
</ul>

<script>

    function validate(form){
    //forms processsing goes here...
    console.log(form, form.name)
    return false;
}

function submitAll(){
    for(var i=0, n=document.forms.length; i<n; i++){
        document.forms[i].submit();
    }
}
</script>
