{% extends "polls/base.html" %}

{% block title %}Opros{% endblock %}

{% block header %}
    {% if not user.is_authenticated %}
        <a class="google-pic unlogged" href="/soc/login/google-oauth2/?next=/"></a>
        <a id="google-account" href="/soc/login/google-oauth2/?next=/">Авторизация</a>
        
    {% endif %}
{% endblock %}

{% block content %}
    {% if top_polls %}
    <h1 class="top-polls">Популярные опросы:</h1>
        <ul>
            {% for poll in top_polls %}
                <li>
                    <a class="a-styles" href="/polls/{{ poll.id }}/">
                        {{ poll.title }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No polls are available.</p>
    {% endif %}
{% endblock %}