{% extends "polls/base.html" %}

{% block title %}Opros{% endblock %}

{% block header %}
    {% if not user.is_authenticated %}
        <a href="/soc/login/google-oauth2/?next=/">Login with Google account!</a>
    {% endif %}
    <h1>Top Polls:</h1>
{% endblock %}

{% block content %}
    {% if top_polls %}
        <ul>
            {% for poll in top_polls %}
                <li>
                    <a href="/polls/{{ poll.id }}/">
                        {{ poll.title }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No polls are available.</p>
    {% endif %}
{% endblock %}