{% extends "polls/base.html" %}

{% block title %}{{ poll.title }}{% endblock %}

{% block header %}
    <h1>{{ poll.title }}</h1>
    {% if user.id == poll.user.id %}
        <a class="content-butts a-styles" href="/polls/{{ poll.id }}/questions/new">Добавить вопрос</a>
    {% endif %}
    {% if poll.question_set.first %}
        <a class="content-butts a-styles" href={% url 'polls:question' poll.id poll.question_set.first.id %} {{poll.question_set.first}}>Начать опрос</a>
        <a class="content-butts a-styles" href="{% url 'polls:poll_results' poll.id %}">Посмотреть результаты</a>
        <p>{{ voprosov }}</p>
    {% endif %}
    <p>Created by <a href="/users/{{ poll.user.id }}">{{ poll.user }}</a>, {{ poll.pub_date }}</p>
{% endblock %}
